recursive-include requirements *.txt
recursive-include requirements *.txt
recursive-exclude tests *.py
recursive-include spyder_remote_server *.bat
recursive-include spyder_remote_server *.jinja2
recursive-include spyder_remote_server *.sh
