name: CI

on: [push]

jobs:
  spyder-remote-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest" 
          python-version: "3.8"
          channel-priority: "strict"
          channels: "conda-forge"  
          mamba-version: "*"
          show-channel-urls: true 
      - name: Setup dependencies
        run: |
          mamba install -n test --file requirements/build_test_deploy.txt -c conda-forge -y -q
      - name: show mamba
        shell: bash -l {0}
        run: |
          mamba env export
      - name: Create package
        shell: bash -l {0}
        run: |
          cd spyder-remote-client
          python setup.py sdist 
      - name: Check package
        shell: bash -l {0}
        run: |
          cd spyder-remote-client
          twine check dist/*
      - name: Check manifest
        shell: bash -l {0}
        run: |
          cd spyder-remote-client
          check-manifest  
      - name: Run tests
        shell: bash -l {0}
        run: |
          cd spyder-remote-client
          pytest tests/ --cov=spyder_remote_client
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: spyder-remote-client/dist/*
          name: spyder-remote-client-0.0.0.tar.gz
      
  spyder-remote-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest" 
          python-version: "3.8"
          channel-priority: "strict"
          channels: "conda-forge"  
          mamba-version: "*"
          show-channel-urls: true 
      - name: Setup dependencies
        run: |
          mamba install -n test --file requirements/build_test_deploy.txt -c conda-forge -y -q
      - name: Create package
        shell: bash -l {0}
        run: |
          cd spyder-remote-server
          python setup.py sdist 
      - name: Check package
        shell: bash -l {0}
        run: |
          cd spyder-remote-server
          twine check dist/*
      - name: Check manifest
        shell: bash -l {0}
        run: |
          cd spyder-remote-server
          check-manifest  
      - name: Run tests
        shell: bash -l {0}
        run: |
          cd spyder-remote-server
          pytest tests/ --cov=spyder_remote_server
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: spyder-remote-server/dist/*
          name: spyder-remote-server-0.0.0.tar.gz
