name: MM

on: [push]

jobs:
  spyder-remote-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
      - name: provision-with-micromamba
        uses: mamba-org/provision-with-micromamba@v10
        #with:
          # the environment.yml file for the conda environment
          #environment-file: # default is environment.yml
          # the name of the conda environment (defaults to name from the environment.yml file)
          #environment-name: # optional
          # version of micromamba to use (default: 0.9.2). Use "latest" for bleeding edge.
          #micromamba-version: # optional, default is latest
      - name: show
        shell: bash -l {0}
        run: |
          mamba --version
          mamba list
