name: Upload Python Package

on:
  push:
    tags:
    - 'v**'

jobs:
  upload-pypi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade check_manifest pip setuptools twine wheel
    - name: Build Client release artefacts
      run: |
        cd spyder-remote-client
        check-manifest -v
        python setup.py sdist bdist_wheel
        python -m twine check dist/*
    - name: Publish Server release
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD_SERVER }}
      run: |
        cd spyder-remote-client
        python -m twine upload dist/* --verbose
    - name: Build Server release artefacts
      run: |
        cd spyder-remote-server
        check-manifest -v
        python setup.py sdist bdist_wheel
        python -m twine check dist/*
    - name: Publish Client release
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD_CLIENT }}
      run: |
        cd spyder-remote-server
        python -m twine upload dist/* --verbose
    - name: Create Release
      id: create_release
      uses: ncipollo/release-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag: ${{ github.event.release.tag_name }}
        name: Release ${{ github.event.release.tag_name }}
        artifacts: ${{ env.CURRENT_LOCALE_DIR }}/spyder-remote-client/dist/*,${{ env.CURRENT_LOCALE_DIR }}/spyder-remote-sever/dist/*
        body: Release ${{ github.event.release.tag_name }}
        token: ${{ secrets.GITHUB_TOKEN }}
